.fa {
    font-size: 30px;
    margin-right: 20px;
}

.fa-vk {
    color: blueviolet;
}

.fa-whatsapp {
    color: rgb(4, 121, 22);
}

.fa-vk:hover {
    color: rgb(226, 43, 153);
}

.fa-whatsapp:hover {
    color: rgb(215, 248, 4);
}
